volumes:
  traefik_volume: {}

services:
  traefik:
    build:
      context: .
      dockerfile: ./compose/Dockerfile
    container_name: traefik-container
    image: traefik_local
    volumes:
      - traefik_volume:/etc/traefik/acme
    network_mode: host
